/* FONT NAMES EXAMPLES */

/*font-family: 'Open Sans Condensed', sans-serif;*/

/*ACTIVE STYLE */
#skills:active, #courses:active, .active {
  color: #fff;
  border: 4px solid #f8ca87!important;
  background-color: #f8ca87!important;
  cursor: pointer;
  box-shadow: none!important;
}



.header {
  width: 90%;
  margin: 0px auto;
  position: relative;
  top: 17px; 
}

.header-title h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #8d806e;
  padding-bottom: 31px;
  margin-top: 4px;
}

.header-title {
  width: 14%;
  margin: 0px auto;
  float: left;
}

.menu {
  width: 9%;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  padding-bottom: 10px;
  border-left: 1px solid #7f7f7e;
}

button {
  background-color: #fff;
  border: none!important;
  color: #7f7f7e;
  margin-top: 6px;
}

 .dropdown-toggle {
  box-shadow: none!important;
}

.header-social {
  text-align: right;
  position: relative;
  margin: 0px auto;
  float: right;
  width: 12%;
}

.fa {
  border: 2px solid #8d806e;
  padding: 7px;
  border-radius: 30px;
  width: 35px;
  text-align: center!important;
  color: #8d806e;
  font-size: 16px!important;
}

.fa-linkedin:hover {
  color: #fff;
  background-color: #0474b3;
  border: 2px solid #0474b3!important;
}

.fa-github:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #000!important;
}

.fa-google-plus:hover {
  color:#fff;
  background-color: #db4a39;
  border: 2px solid #db4a39!important;
}

.fa-envelope:hover {
  color:#fff;
  background-color: #efcd3f;
  border: 2px solid #efcd3f!important;
}

.divider {
  border-top: 4px solid #8d806e;
  padding: 0;
  margin: 0;
}

.backdrop {
  height: 481px;
  position: relative;
  background-color: #fff;
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  background-repeat: no-repeat;
}

.main-container {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

.back-img {
  width: 100%;
  position: relative;
  float: left;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#img-hide {
	display: none;
}

.back-img:hover #img-hide {
	display: block;
}

.back-img .img-hover {
	display: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.fancy-btn {
    color: #f8ca87;
    border: 4px solid #f8ca87;
    font-size: 16px !important;
    padding: 5px 105px !important;
    z-index: 10;
    margin-right: 20px !important;
    margin-left: 20px !important;
    border-radius: 0px !important;
    font-weight: bold;
    box-shadow: none!important;
}

.body-btn {
    color: #f8ca87;
    border: 4px solid #f8ca87;
    font-size: 16px !important;
    padding: 5px 80px !important;
    z-index: 10;
    margin-right: 5px !important;
    border-radius: 0px !important;
    font-weight: bold;
}

.hero-btns a:hover {
  color: #fff;
  border: 4px solid #f8ca87;
  background-color: #f8ca87;
  cursor: pointer;
}


.skills-container, .courses-container {
  width: 80%;
  margin: 0px auto;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.skills-text a {
  font-weight: bold;
  cursor: pointer;
  color: #F8CA87;
  text-decoration: none;
}


.skills-text, .courses-text {
  width: 80%;
  margin: 0px auto;
  float: left;
}


.skills-text h2, .courses-text h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #81C0B1;
}

.contact-text h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #e3dec1;
}

.contact-text h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
}

.contact-text a {
  color: #f8ca87;
  text-decoration: none;
  cursor: pointer;
}

.skills-text h4, .courses-text h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f7f7e;
  line-height: 27px;
  font-size: 18px;
  padding-bottom: 8px;
}

.contact-container {
  width: 100%;
  background-color: rgba(141, 128, 110, 0.7);
  margin: 0px auto;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #8d806e;
}

.contact-text {
  text-align: left;
  width: 60%;
  float: left;

}

.contact-width {
  width: 80%;
  margin: 0px auto;
}

.contact-img {
  width: 40%;
  text-align: center;
  float: right;
}

.footer-container {
  background: url('../images/960.jpg') no-repeat scroll 0% 0%;
  background-size: cover;
  background-color: #fff;
  opacity: 0.9;
  position: relative;
  width: 100%;
  margin: 0px auto;
  float: left;
}

.footer-text {
  width: 80%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer-social {
  padding-bottom: 20px;
}

.footer-main {
  width: 60%;
  float: left;
  border-right: 1px solid #fff;
}

.quick-links ul {
  display: inline-flex;
  padding: 0px;
}

.quick-links li {
  list-style: none;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid #fff;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.quick-links a:hover {
  color: #f7cb7f;
  text-decoration: none;
}

.copyright h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.footer-contact h2 {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7cb7f;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.footer-contact {
  text-align: center;
  width: 40%;
  margin: 0px auto;
}

.footer-social .fa {
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 30px;
  width: 35px;
  text-align: center!important;
  color: #fff;
  font-size: 16px!important;
}