/* FONT NAMES EXAMPLES */

/*font-family: 'Open Sans Condensed', sans-serif;*/


/*ACTIVE STYLE */
#about:active, #media:active, #web:active, .active {
  color: #fff;
  border: 4px solid #f8ca87!important;
  background-color: #f8ca87!important;
  cursor: pointer;
  box-shadow: none!important;
}

.header {
  width: 90%;
  margin: 0px auto;
  position: relative;
  top: 17px; 
}

.header-title h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #8d806e;
  padding-bottom: 31px;
  margin-top: 4px;
}

.header-title {
  width: 14%;
  margin: 0px auto;
  float: left;
}

.menu {
  width: 9%;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  padding-bottom: 10px;
  border-left: 1px solid #7f7f7e;
}

button {
  background-color: #fff;
  border: none!important;
  color: #7f7f7e;
  margin-top: 6px;
}

 .dropdown-toggle {
  box-shadow: none!important;
}

.header-social {
  text-align: right;
  position: relative;
  margin: 0px auto;
  float: right;
  width: 12%;
}

.fa {
  border: 2px solid #8d806e;
  padding: 7px;
  border-radius: 30px;
  width: 35px;
  text-align: center!important;
  color: #8d806e;
  font-size: 16px!important;
}

.fa-linkedin:hover {
  color: #fff;
  background-color: #0474b3;
  border: 2px solid #0474b3!important;
}

.fa-github:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #000!important;
}

.fa-google-plus:hover {
  color:#fff;
  background-color: #db4a39;
  border: 2px solid #db4a39!important;
}

.fa-envelope:hover {
  color:#fff;
  background-color: #efcd3f;
  border: 2px solid #efcd3f!important;
}

.divider {
  border-top: 4px solid #8d806e;
  padding: 0;
  margin: 0;
}

.backdrop {
  height: 481px;
  position: relative;
  background-color: #e3dec1;
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  background-repeat: no-repeat;
}

.main-container {
  position: relative;
  width: 80%;
  text-align: left;
  margin: 0px auto;
}

.back-img {
  width: 50%;
  position: relative;
  float: left;
  margin: 0px auto;
}

.main-text {
  position: relative;
  width: 50%;
  color: #ffffff;
  padding-top: 40px;
  float: left;
  margin: 0px auto;
}

.main-text h2 {
    font-size: 40px;
    color: #81C0B1;
    line-height: 45px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.main-text h4 {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.fancy-btn {
    color: #fff;
    border: 4px solid #fff;
    font-size: 16px !important;
    padding: 5px 30px !important;
    z-index: 10;
    margin-right: 5px !important;
    border-radius: 0px !important;
    font-weight: bold;
}

.body-btn {
    color: #f8ca87;
    border: 4px solid #f8ca87;
    font-size: 16px !important;
    padding: 5px 80px !important;
    z-index: 10;
    margin-right: 5px !important;
    border-radius: 0px !important;
    font-weight: bold;
}

.hero-btns a:hover {
  color: #fff;
  border: 4px solid #f8ca87;
  background-color: #f8ca87;
  cursor: pointer;
}

.about-btns a:hover {
  color: #fff;
  border: 4px solid #f8ca87;
  background-color: #f8ca87!important;
  cursor: pointer;
}

.about-btns {
  padding-bottom: 20px;
}

.hero-btns {
  padding-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.about-container, .media-container, .web-container {
  width: 80%;
  margin: 0px auto;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.media-text a {
  font-weight: bold;
  cursor: pointer;
  color: #F8CA87;
  text-decoration: none;
}


.about-text {
  width: 80%;
  margin: 0px auto;
  float: left;
}


.about-text h2, .media-text h2, .web-text h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #81C0B1;
}

.contact-text h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #e3dec1;
}

.contact-text h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
}

.contact-text a {
  color: #f8ca87;
  text-decoration: none;
  cursor: pointer;
}

.about-text h4, .media-text h4, .web-text h4, .web-sec-text h4, .web-links h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f7f7e;
  line-height: 27px;
  font-size: 18px;
  padding-bottom: 8px;
}

.about-icons {
  width: 20%;
  margin: 0px auto;
  float: left;
  text-align: right;
  padding-top: 27px;
  padding-left: 100px;
}

.icon-circle {
  border-radius: 69px;
  width: 105px;
  height: 102px;
  text-align: center;
  padding-top: 29px;
  border: 3px solid #8d806e;
  margin-bottom: 8px;
}

.code-icon-alignment {
  position: relative;
  top: -22px;
}

.design-icon-alignment {
  position: relative;
  right: 13px;
  top: -40px;
}

.camera-icon-alignment {
  position: relative;
  top: -13px;
}

.web-showcase img {
  width: 500px;
  height: 350px;
}

.web-showcase {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  float: center;
}

.col-lg-6 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.web-links ul {
  display: inline-flex;
  padding: 0px;
  margin: 0px auto;
}

.web-links li {
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #7f7f7e;

}

.web-sec-text a {
  color:#f8ca87;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.web-links {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-container {
  width: 100%;
  background-color: rgba(141, 128, 110, 0.7);
  margin: 0px auto;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #8d806e;
}

.contact-text {
  text-align: left;
  width: 60%;
  float: left;

}

.contact-width {
  width: 80%;
  margin: 0px auto;
}

.contact-img {
  width: 40%;
  text-align: center;
  float: right;
}

.footer-container {
  background: url('../images/960.jpg') no-repeat scroll 0% 0%;
  background-size: cover;
  background-color: #fff;
  opacity: 0.9;
  position: relative;
  width: 100%;
  margin: 0px auto;
  float: left;
}

.footer-text {
  width: 80%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer-social {
  padding-bottom: 20px;
}

.footer-main {
  width: 60%;
  float: left;
  border-right: 1px solid #fff;
}

.quick-links ul {
  display: inline-flex;
  padding: 0px;
}

.quick-links li {
  list-style: none;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid #fff;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.quick-links a:hover {
  color: #f7cb7f;
  text-decoration: none;
}

.copyright h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.footer-contact h2 {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f7cb7f;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.footer-contact {
  text-align: center;
  width: 40%;
  margin: 0px auto;
}

.footer-social .fa {
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 30px;
  width: 35px;
  text-align: center!important;
  color: #fff;
  font-size: 16px!important;
}

/* MOBILE CLASSES */

@media (max-width: 420px) {
  .back-img {
    display: none;
  }

  .main-text {
    width: 100%;
    text-align: center;
  }

  .fancy-btn {
    font-size: 14px!important;
    padding: 5px 14px!important;
  }

  .backdrop {
    height: 355px;
  }

  .about-text {
    width: 100%;
  }

  .about-icons {
    width: 100%;
    display: inline-flex;
    padding: 0px;
  }

  .icon-circle {
    border-radius: 49px;
    width: 71px;
    height: 71px;
    margin-left: 28px;
  }

  .code-icon-alignment {
    top: -25px;
  }

  .design-icon-alignment {
    right: 11px;
    top: -38px;
  }

  .camera-icon-alignment {
    top: -18px;
  }

  .camera-icon-alignment img {
    width: 40px;
    height: 40px;
  }

  .design-icon-alignment img {
    width: 85px;
    height: 85px;
  }

  .code-icon-alignment img {
    width: 60px;
    height: 60px;
  }

  .body-btn {
    padding: 5px 44px!important;
    margin-top: 20px;
  }

  .contact-text {
    width: 100%;
    text-align: center;
  }

  .contact-img {
    width: 100%;
  }

  .footer-contact {
    width: 100%;
  }

  .quick-links li {
    padding-right: 11px;
    padding-left: 11px;
  }

  .header-title {
    width: 60%;
  }

  .menu {
    width: 40%;
    border-left: none;
  }

  .header-social {
    display: none;
  }

  .web-showcase img {
    max-width: 100%;
  }

  .web-links {
    max-width: 100%;
    padding-top: 1px;
    padding-bottom: 15px;
  }

  .web-links li {
    font-size: 11px;
    border-right: none!important;
    margin-top: 10px;
  }

  .web-links ul {
    display: inherit;
  }
}

@media (max-width: 375px) {
  .icon-circle {
    margin-left: 20px!important;
  }

  .body-btn {
    padding: 5px 36px!important;
  }

  .fancy-btn {
    padding: 5px 11px!important;
  }
}

@media (max-width: 365px) {
  .backdrop {
    height: 405px;
  }
}

@media (max-width: 353px) {
  .fancy-btn {
    padding: 5px 7px!important;
  } 

  .body-btn {
    padding: 5px 25px!important;
  }

  .icon-circle {
    margin-left: 8px!important;
  }
}



